<template>
    <div class="wrapper">
        <div>
            <header-component></header-component>
        </div>

        <div>
            <sidebar-component></sidebar-component>
        </div>

        <div class="content-wrapper">
            <router-view></router-view>
        </div>
        
        <div>
            <footer-component></footer-component>
        </div>    
    </div>    
</template>

<script>
    import HeaderComponent from './partials/Header';
    import SidebarComponent from './partials/Sidebar';
    import FooterComponent from './partials/Footer';

    export default {
        mounted() {
            console.log('Body Component mounted.')
        },
        
        components: {
            HeaderComponent, SidebarComponent, FooterComponent
        }
    }
</script>