<template>
    <div class="wrapper">
        <div class="content-wrapper">
            Hello
        </div>    
    </div>    
</template>

<script>
    export default {
        mounted() {
            console.log('Body Component mounted.')
        }
    }
</script>