<template>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header"></li>

                <router-link to="/la-ad-vue/public/home" tag="li">
                    <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </router-link>

                <router-link to="/la-ad-vue/public/vue/user" tag="li">
                    <a href="#"><i class="fa fa-list"></i> <span>Users</span></a>
                </router-link>
            </ul>
        </section>
    </aside>
</template>

<script>
export default {
	mounted() {
        console.log('Sidebar mounted');
    }
}
</script>
